/*  
Skin Name: Cork
Version: 1.0
Description: Skin for Bizco.
*/

html {
	background: #443a2d url(images/html-bg.png);
}
body {
	color: #736357;
}

a {
	color: #a3620a;
}

h1, h2, h3, h4, h5, h6 {
	color: #34291f;
}

/* header */
#header {
	color: #b7b2ad;
}
.header-widget a {
	color: #c9c6c2;
}
.header-widget  a:hover {
	color: #fff;
}
#site-description {
	color: #c9c6c2;
}

/* main level link */
#main-nav a {
	color: #c9c6c2;
}
/* current link */
#main-nav .current_page_item a, #main-nav .current-menu-item a {
	background: #362d21;
}

/* slider */
#sliderwrap {
	background: url(images/slider-bg.png) repeat-x;
}
#slider {
	color: #fff;
}
#slider .slides a {
	color: #fff799;
}
#slider .slides a:hover {
	text-decoration: underline;
}
#slider a.button {
	color: #000;
}
#slider a.button:hover {
	text-decoration: none;
}
#slider .button.black {
	color: #fff;
}


/* welcome message */
.welcome-message {
	color: #8b6d49;
}

/* body */
#body {
	background: #f8f2e8 url(images/body-bg.png) repeat-x 0 0;
}

/* content */
.post-title a {
	color: #603913;
}
.post-title a:hover {
	color: #F60;
}

/* dark border color */
.divider,
.post-meta,
.next-prev-post,
.commentlist,
.pagenav {
	border-color: #dac9b3;
}

/* light border color */
.widget li,
.commentlist .commententry,
.commentlist #respond {
	border-color: #e7dcce;
}

/* footer */
#footerwrap {
	background: #3d3225 url(images/footer-bg.png);
}
#footer {
	color: #c3b6a3;
}
#footer a {
	color: #fff799;
}
#footer a:hover {
	color: #fff;
}
#footer .widget li {
	border-color: #51473b;
}
