/************************************************************************************
BUILDER
*************************************************************************************/
.themify_builder_admin {
	font: normal 13px/150% Arial, Helvetica, sans-serif;
	margin: 20px auto;
	border: solid 1px #d9d9d9;

	border-radius: 5px;
}
.themify_builder_admin img {
	vertical-align: bottom;
}
.themify_builder_admin hr {
	height: 1px;
	border: none;
	background: none;
	border-top: solid 1px #eee;
	border-color: rgba(0,0,0,.1);
	margin: 10px 0 20px;
	clear: both;
}
.themify_builder_admin p {
	margin: 0 0 15px;
	padding: 0;
}
.themify_builder_admin a {
	outline: none;
}

/* sub headings */
.themify_builder_admin h3 {
	color: #000;
	font-weight: bold;
	font-size: 125%;
	line-height: 130%;
	margin: 20px 0 10px;
	padding: 0;
}
.themify_builder_admin h4 {
	color: #000;
	font-weight: bold;
	font-size: 110%;
	line-height: 130%;
	margin: 20px 0 10px;
	padding: 0;
}

/* form input */
.themify_builder_admin input, 
.themify_builder_admin textarea, 
.themify_builder_admin select, 
.themify_builder_admin input[type=search], 
.themify_builder_admin button {
	font-size: 100%;
	font-family: inherit;
}
.themify_builder_admin input[type=text], 
.themify_builder_admin input[type=password], 
.themify_builder_admin textarea, 
.themify_builder_admin input[type=search], 
.themify_builder_admin input[type=email] {
	background: #f4f4f4;
	border: solid 1px #ddd;
	padding: 5px 10px;
	color: #666;
	border-radius: 5px;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);

	-webkit-appearance: none;
}
.themify_builder_admin input[type=text]:focus, 
.themify_builder_admin input[type=password]:focus, 
.themify_builder_admin textarea:focus, 
.themify_builder_admin input[type=search]:focus, 
.themify_builder_admin input[type=email]:focus {
	background: #fff;
	color: #000;
	border: solid 1px #ddd;
}
.themify_builder_admin input[type="radio"] {
	margin-right: 0;
	margin-top: 0;
}
.themify_builder_admin input[type=text], 
.themify_builder_admin input[type=search], 
.themify_builder_admin input[type=email] {
	width: 240px;
	max-width: 95%;
}

/* text area */
.themify_builder_admin textarea {
	line-height: 150%;
	width: 95%;
	min-height: 60px;
}

/* input field width */
.themify_builder_admin input.xsmall, 
.themify_builder_admin textarea.xsmall {
	width: 10%;
}
.themify_builder_admin input.small, 
.themify_builder_admin textarea.small {
	width: 20%;
}
.themify_builder_admin input.medium, 
.themify_builder_admin textarea.medium {
	width: 40%;
}
.themify_builder_admin input.large, 
.themify_builder_admin textarea.large {
	width: 60%;
}
.themify_builder_admin input.xlarge, 
.themify_builder_admin textarea.xlarge {
	width: 80%;
}
.themify_builder_admin input.fullwidth, 
.themify_builder_admin textarea.fullwidth {
	width: 95%;
}

/* form input:focus */
.themify_builder_admin textarea:focus, 
.themify_builder_admin input[type=password]:focus, 
.themify_builder_admin input[type=text]:focus, 
.themify_builder_admin input[type=search]:focus, 
.themify_builder_admin input[type=email]:focus {
	outline: none;
	background: #fff;
}

/* form button */
.themify_builder_admin input[type=reset], 
.themify_builder_admin input[type=submit], 
.themify_builder_admin.builder-lightbox a.builder_button,
.themify_builder_admin a.builder_button {
	background-color: #76a8e0;
	
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjE1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background-image: -moz-linear-gradient(top,  rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.1) 100%);
	background-image: -webkit-linear-gradient(top,  rgba(255,255,255,0.15) 0%,rgba(0,0,0,0.1) 100%);
	background-image: linear-gradient(to bottom,  rgba(255,255,255,0.15) 0%,rgba(0,0,0,0.1) 100%);
	
	padding: 6px 20px;
	height: auto;
	font: normal 14px/100% Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #fff;
	border: solid 1px #5c7798;
	white-space: nowrap;
	display: inline-block;
	zoom:1;
	*display:inline;
	vertical-align: middle;
	text-shadow: 0 -1px 0 rgba( 0, 0, 0, .3);
	border-radius: 10em;
	box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, .3),  0 1px 1px 0 rgba(0, 0, 0, .25);
	cursor: pointer;
	outline: none;
}

/* form input:hover */
.themify_builder_admin input[type=reset]:hover, 
.themify_builder_admin input[type=submit]:hover, 
.themify_builder_admin.builder-lightbox a.builder_button:hover, 
.themify_builder_admin a.builder_button:hover {
	background: #000;
	color: #fff;
	border-color: #000;
	text-decoration: none;
}

/* upload button */
.themify_builder_admin .plupload-button {
	background: #eee;
	padding: 2px 10px;
	font: normal 100%/100% Arial, Helvetica, sans-serif;
	color: #666;
	border: solid 1px #ddd;
}

/************************************************************************************
ICONS
*************************************************************************************/
.themify_builder_icon {
	position: relative;
	background-color: #ffffff !important;
	
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjIiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background-image: -moz-linear-gradient(top,  rgba(255,255,255,0.2) 0%, rgba(0,0,0,0.1) 100%);
	background-image: -webkit-linear-gradient(top,  rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.1) 100%);
	background-image: linear-gradient(to bottom,  rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.1) 100%);
	
	border: solid 1px #9d9d9d;
	width: 24px;
	height: 24px;
	text-align: center;
	margin: -4px 5px 0 0;
	cursor: pointer;
	display: inline-block;
	zoom:1;
	*display:inline;
	vertical-align: middle;
	border-radius: 10em;
	box-shadow: inset 0 3px 0 0 rgba(255, 255, 255, .3);
}
.themify_builder_icon:before {
	padding-top: 3px;
	display: inline-block;
	zoom:1;
	*display:inline;
}
.themify_builder_icon.small {
	width: 15px;
	height: 15px;
}
.themify_builder_icon.add:before,
.themify_builder_icon.delete:before {
	content: '';
	position: absolute;
	top: 6px;
	left: 7px;
	width: 10px;
	height: 10px;
	background-image: url(../img/builder/builder-icons.png);
	background-repeat: no-repeat;
}
.themify_builder_icon.add:before {
	background-position: -23px 1px;
}
.themify_builder_icon.delete:before {
	background-position: -24px -14px;
}
.themify-builder-delete-thumb {
	top:0;
	left: 2px;
}
.themify_builder_icon.small:before {
	padding-top: 2px;
	top: 2px;
	left: 3px;
}

/* top admin bar icon */
.themify_builder_front_icon {
	background: url('../img/favicon.png') 0 0 no-repeat;
	display: block;
	float: left;
	height: 16px !important;
	margin-right: 5px !important;
	margin-top: 5px !important;
	width: 16px !important;
}

/************************************************************************************
BUILDER MODULE PANEL
*************************************************************************************/
.themify_builder_module_panel {
	font: normal 13px/150% Arial, Helvetica, sans-serif;
	background: #CFCFCF;
	padding: 15px 0 15px 15px;
	border-bottom: solid 1px #dcdcdc;
	border-radius: 3px 3px 0 0;
	box-shadow: inset 0 3px 7px rgba(0, 0, 0, .15);
}

.themify_builder_row_panel {
	background: #fff;
	padding: 15px 10px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 0 -3px 7px rgba(0, 0, 0, .03);
}

.themify_builder_front_panel{
	display: none;
	position: fixed;
	width: 100%;
	bottom: 0;
	min-height: 0;
	z-index: 10000;
	padding: 0;
	margin:0;
	max-width: 100%;
}

.frontend .themify_builder_module_panel {
	position: relative;
	background-color: #45484d;
	
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjIiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background-image: -moz-linear-gradient(top,  rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.2) 100%);
	background-image: -webkit-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.2) 100%);
	background-image: linear-gradient(to bottom,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.2) 100%);

	padding: 15px 0 5px 2%;
	border-top: solid 1px #333;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.3);
	border-radius: 0;
}

/* module panel slide button */
.frontend .slide_builder_module_panel {
	width: 45px;
	height: 14px;
	background: #777 url(../img/builder/builder-icons.png) no-repeat 7px -339px;
	display: block;
	position: absolute;
	top: -16px;
	left: 50%;
	margin-left: -23px;
	text-indent: -900em;
	border: solid 1px #333;
	border-bottom: none;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.3);
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.frontend .slide_builder_module_state_down {
	bottom: -21px;
}

.frontend .slide_builder_module_wrapper {
	padding-right: 100px;
}

/************************************************************************************
BUILDER ROW
*************************************************************************************/
/* row */
.themify_builder_row {
	padding: 0;
	margin-bottom: 10px;
	background: #f9f9f9;
	border: solid 1px #d9d9d9;
	position: relative;
	border-radius: 5px;
}

/* row top */
.themify_builder_row_top {
	background-color: #edecec;
	
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjkiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background-image: -moz-linear-gradient(top,  rgba(255,255,255,0.9) 0%, rgba(255,255,255,0) 100%);
	background-image: -webkit-linear-gradient(top,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0) 100%);
	background-image: linear-gradient(to bottom,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0) 100%);

	position: relative;
	padding: 7px 5px;
	cursor: move;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.themify_builder_active .themify_builder_content .themify_builder_row_top {
	background: #f5f5f5;
	border-radius: 0;
}

/* row content */
.themify_builder_row_content {
	padding: 15px 10px;
	background: #edecec;
}
.frontend .themify_builder_content .themify_builder_row_content {
	background: none;
	padding: 15px 0;
}

/* row collapsed stage */
.themify_builder_row.collapsed .themify_builder_row_top {
	border-radius: 5px;
}

/* toggle row button */
.themify_builder_row .toggle_row {
	background: url(../img/builder/builder-icons.png) no-repeat -20px -119px;
	text-indent: -9000em;
	display: block;
	width: 26px;
	height: 26px;
	position: absolute;
	right: 5px;
	top: 5px;
	cursor: pointer;
	border: solid 1px transparent;
	border-radius: 5px;
}
.themify_builder_row.collapsed .toggle_row {
	background-position: -20px -144px;
}
.themify_builder_content .themify_builder_row .toggle_row {
	top: 2px;
}

/* row menu */
.themify_builder .row_menu {
	position: relative;
}
.themify_builder .row_menu .menu_icon {
	background: url(../img/builder/builder-icons.png) no-repeat 6px -314px;
	width: 26px;
	height: 26px;
	cursor: pointer;
	border: solid 1px transparent;
	border-radius: 5px;
}
.themify_builder .row_menu .menu_icon:hover {
	border: solid 1px #e4e4e4;
}

/* add new */
.themify_builder .add_new {
	font-size: 100%;
}
.themify_builder .add_new a {
	color: #555;
	text-decoration: none;
}

/* frontedit row */
.themify_builder_active .themify_builder_content {
	position: relative;
}
.themify_builder_active .themify_builder_content .themify_builder_row {
	border-radius: 0;
}
.themify_builder_active .themify_builder_content .themify_builder_row .move_row {
	background: #fff url(../img/builder/builder-icons.png) no-repeat -17px -315px;
	width: 26px;
	height: 26px;
	display: block;
	position: absolute;
	top: 2px;
	left: -28px;
	cursor: move;
	border: solid 1px #e4e4e4;
	border-radius: 5px 0 0 5px;
}
.themify_builder_active .themify_builder_content .themify_builder_row_top {
	cursor: move;
	padding: 0;
}
.themify_builder_active .themify_builder_content .themify_builder_row_content {
	padding: 0;
}
.themify_builder_active .themify_builder_content .row_menu {
	position: absolute;
	left: -28px;
	top: 35px;
	width: 26px;
	border: solid 1px #e4e4e4;
	border-radius: 5px 0 0 5px;
	background: #fff;
}
.themify_builder_active .themify_builder_content .row_menu:hover {
	border-radius: 5px 0 0 5px;
}
.themify_builder_active .themify_builder_content .row_menu .menu_icon {
	border-radius: 5px 0 0 5px;
	border: none;
	margin: 0;
}
.themify_builder_active .themify_builder_content .themify_builder_row .menu_icon {
	border-radius: 5px;
}
.themify_builder_active .themify_builder_content .row_menu .menu_icon:hover {
	border: none;
}

/* collapsed state */
.themify_builder_active .themify_builder_content .row_menu {
	position: static;
	border:solid 1px transparent;
	border-radius: 5px;
	margin-left: 5px;
}
.themify_builder_active .themify_builder_content .themify_builder_dropdown {
	margin-left: 5px;
	margin-top: 4px;
}
.themify_builder_active .themify_builder_content .themify_builder_row_top {
	padding: 3px 0;
}
.themify_builder_active .themify_builder_content .row_menu:hover{
	border: solid 1px #e4e4e4;
	border-radius: 5px;
}

/************************************************************************************
BUILDER COLUMN
*************************************************************************************/
/* col */
.themify_builder .themify_builder_col {
	float: left;
	position: relative;	
}
.themify_builder_col.col4-1 {
	width: 25%;
}
.themify_builder_col.col4-2, 
.themify_builder_col.col2-1 {
	width: 50%;
}
.themify_builder_col.col4-3 {
	width: 75%;
}
.themify_builder_col.col3-1 {
	width: 33.333%;
}
.themify_builder_col.col3-2 {
	width: 66.666%;
}
.themify_builder_col.first {
	margin-left: 0 !important;
	clear: left !important;
}

/* col frontend */
.frontend .themify_builder_col {
	margin-left: 0 !important;
}

/************************************************************************************
MODULE HOLDER
*************************************************************************************/
/* module holder */
.themify_builder .themify_module_holder {
	margin-right: 17px;
	padding-bottom: 20px;
	min-height: 50px;
	border: dotted 1px #999;
}

/* col_dragger */
.themify_builder .col_dragger {
	position: absolute;
	width: 13px;
	height: 100%;
	top: 0;
	right: 2px;
	z-index: 2;
	cursor: col-resize;
}
.themify_builder .col_dragger:hover {
	background-color: #FF9;
}
.themify_builder .col_dragger:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	width: 13px;
	height: 18px;
	margin-top: -9px;
	background: url(../img/builder/builder-icons.png) no-repeat -22px -26px;
}
.themify_builder .last .col_dragger {
	cursor: w-resize;
}
.themify_builder .last .col_dragger:before {
	background-position: -22px -61px;
}

/* empty holder text */
.empty_holder_text {
	position: absolute;
	top: 50%;
	color: #ccc;
	text-align: center;
	font-size: 85%;
	line-height: 100%;
	margin-top: -.6em;
	margin-left: -5px;
	width: 100%;
	cursor: default;
	text-shadow: 0 1px 0 rgba(255,255,255,.1);
}


/************************************************************************************
MODULES
*************************************************************************************/
/* default module style */
.themify_builder_module {
	background-color: #76a8e0;
	
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjE1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background-image: -moz-linear-gradient(top,  rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.1) 100%);
	background-image: -webkit-linear-gradient(top,  rgba(255,255,255,0.15) 0%,rgba(0,0,0,0.1) 100%);
	background-image: linear-gradient(to bottom,  rgba(255,255,255,0.15) 0%,rgba(0,0,0,0.1) 100%);
	
	width: 70px;
	height: 20px;
	border: solid 1px #5c7798;
	padding: 5px 5px 5px 32px;
	margin: 0 15px 10px 0;
	cursor: move;
	white-space: nowrap;
	position: relative;
	color: #fff;
	float: left;
	border-radius: 5px;
	box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, .3),  0 1px 1px 0 rgba(0, 0, 0, .25);
}
.themify_builder_module:before {
	position:absolute;
	top: 5px;
	left: 7px;
	width: 19px;
	height: 19px;
	content: '';
	background-image: url(../img/builder/builder-icons.png);
}
.themify_builder_module .module_name {
	font-weight: normal;
	font-size: 12px;
	display: block;
	text-shadow: 0 -1px 0 rgba( 0, 0, 0, .4);
}
.themify_builder_module .add_module {
	background-color: #ffffff;
	
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjIiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background-image: -moz-linear-gradient(top,  rgba(255,255,255,0.2) 0%, rgba(0,0,0,0.1) 100%);
	background-image: -webkit-linear-gradient(top,  rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.1) 100%);
	background-image: linear-gradient(to bottom,  rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.1) 100%);
	
	border: solid 1px #9d9d9d;
	text-indent: -9000em;
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	top: -8px;
	right: -10px;
	border-radius: 10em;
	box-shadow: inset 0 3px 0 0 rgba(255, 255, 255, .3);
}
.themify_builder_module .add_module:before {
	content: '';
	position:absolute;
	top: 5px;
	right: 5px;
	background: url(../img/builder/builder-icons.png) no-repeat -23px 0;
	width: 10px;
	height: 10px;
}

/* module icons */
.themify_builder_module.module-text:before {
	background-position: -1px -266px;
}
.themify_builder_module.module-portfolio:before {
	background-position: 0 -172px;
}
.themify_builder_module.module-gallery:before {
	background-position: 0 -95px;
}
.themify_builder_module.module-slider:before {
	background-position: 0 -209px;
}
.themify_builder_module.module-testimonial:before {
	background-position: 0 -247px;
}
.themify_builder_module.module-post:before {
	background-position: 0 -191px;
}
.themify_builder_module.module-image:before {
	background-position: 0 -134px;
}
.themify_builder_module.module-video:before {
	background-position: 0 -286px;
}
.themify_builder_module.module-accordion:before {
	background-position: -1px 0;
}
.themify_builder_module.module-box:before {
	background-position: -1px -20px;
}
.themify_builder_module.module-tab:before {
	background-position: 0 -229px;
}
.themify_builder_module.module-divider:before {
	background-position: 0 -76px;
}
.themify_builder_module.module-menu:before {
	background-position: -1px -39px;
}
.themify_builder_module.module-highlight:before {
	background-position: 0 -115px;
}
.themify_builder_module.module-callout:before {
	background-position: -1px -58px;
}
.themify_builder_module.module-map:before {
	background-position: -3px -153px;
}
.themify_builder_module.module-lightbox:before {
	background-position: 0 -152px;
}
.themify_builder_module.module-widget:before {
	background-position: -20px -172px;
}
.themify_builder_module.module-widgetized:before {
	background-position: -20px -192px;
}

/************************************************************************************
ACTIVE MODULES
*************************************************************************************/
/* active module */
.themify_builder_module.active_module {
	width: auto;
	float: none;
	margin: 0 0 5px 0;
	padding-left: 38px;
	height: 28px;
}
.themify_builder_module.active_module:before {
	content:'';
	top: 7px;
}

/* active module label */
.module_label {
	white-space: nowrap;
	overflow: hidden;
	font-size: 90%;
	line-height: 110%;
	display: block;
	margin-top: 2px;
}
.module_label .module_excerpt {
	font-weight: normal;
	font-style: normal;
	font-size: 10px;
	color: #bdd2e9;
	display: block;
}

/* module menu */
.module_menu {
	position: absolute;
	top: 6px;
	left: 6px;
}
.module_menu .menu_icon {
	background-color: #e5eef8;
	
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjM1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background-image: -moz-linear-gradient(top,  rgba(255,255,255,0.35) 0%, rgba(0,0,0,0.1) 100%);
	background-image: -webkit-linear-gradient(top,  rgba(255,255,255,0.35) 0%,rgba(0,0,0,0.1) 100%);
	background-image: linear-gradient(to bottom,  rgba(255,255,255,0.35) 0%,rgba(0,0,0,0.1) 100%);
	
	width: 26px;
	height: 26px;
	cursor: pointer;
	border-radius: 5px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.8), 0 1px 0 rgba(0,0,0,.3);
}
.module_menu .menu_icon:before {
	content: '';
	position: absolute;
	top: 5px;
	left: 6px;
	background: url(../img/builder/builder-icons.png) no-repeat 0 -320px;
	width: 15px;
	height: 15px;
}

/* frontedit panel */
/*.themify_builder_front */
.themify_builder_front {
	border: none;
}
.themify_builder_front .themify_builder_row{
	border: none;
	background: none;
	margin-bottom: 30px;
}
.frontend .themify_builder_content {
	margin: 0;
	padding: 0;
	clear: both;
}
.themify_builder_active .themify_builder_front .themify_builder_row {
	border: 1px solid #d7d7d7;
}

/************************************************************************************
DROPDOWN MENU
*************************************************************************************/
.themify_builder_dropdown {
	background: #fff;
	width: 100px !important;
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 202;
	top: 26px;
	left: 0;
	font-weight: normal;
	border-radius: 5px;
	box-shadow: 0 1px 2px rgba(0,0,0,.3);
}
.themify_builder_row_top .themify_builder_dropdown {
	top:28px;
}
.themify_builder_active .themify_builder_row_top .themify_builder_dropdown {
	top:27px;
}
.themify_builder_dropdown li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.themify_builder_dropdown a {
	display: block;
	color: #666 !important;
	line-height: 100%;
	text-decoration: none;
	padding: 5px 5px 5px 10px;
}
.themify_builder_dropdown a:hover {
	background: #eee;
	color: #000;
	text-decoration: none;
}
.themify_builder_dropdown li:first-child a {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding-top: 7px;
}
.themify_builder_dropdown li:last-child a {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding-bottom: 7px;
}


/************************************************************************************
LIGHTBOX OPTION PANEL
*************************************************************************************/
.themify_builder.builder-lightbox {
	background: #fff;
	font: normal 13px/150% Arial, Helvetica, sans-serif;
	color: #666;
	border: none;
	width: 700px;
	padding: 20px 25px;
	margin: auto;
	position: absolute;
	left: 50%;
	top: 30px;
	margin-left: -375px;
	z-index: 999;
	border-radius: 10px;
	box-shadow: 0 1px 5px rgba(0,0,0,.8);
}
.themify_builder.builder-lightbox a {
	color: #486fde;
	text-decoration: none;
}
.themify_builder.builder-lightbox a:hover {
	text-decoration: underline;
}
.frontend .themify_builder.builder-lightbox {
	z-index: 29000;
}
.themify_builder.builder-lightbox .close_lightbox {
	position: absolute;
	top: 15px;
	right: 15px;
}

/* lightbox title */
.themify_builder.builder-lightbox .themify_builder_lightbox_title {
	font: bold 22px/100% Arial, Helvetica, sans-serif;
	color: #000;
	margin: 0 0 20px;
	padding: 0;
	text-shadow: none;
}

/* lightbox save button */
.themify_builder_save {
	text-align: right;
	margin: 15px 0 0;
	padding: 0;
}

/* switch to frontend */
.themify_builder_switch_frontend {
	display: inline-block;
	zoom:1;
	*display:inline;
	margin-right: 10px;
	text-decoration: none;
	color: #555555;
	border-bottom: solid 1px #eee;
}

/************************************************************************************
LIGHTBOX FIELDS AND INPUT
*************************************************************************************/
.themify_builder_field {
	padding: 0 0 15px;
	cursor: auto;
}
.themify_builder_label {
	width: 26.3%;
	min-width: 170px;
	margin: 0 1% 0 0;
	padding-top: 6px;
	float: left;
}
.themify_builder_input {
	width: 72.5%;
	position: relative;
	float: left;
}
.themify_builder_input.pushed {
	margin-left: 27.3%;
}
.themify_builder_field input[type=text],
.themify_builder_field select {
	margin-right: 5px;
	margin-bottom: 5px;
}

/* small description text */
.themify_builder_admin small,
.themify_builder_admin .small {
	font-size: 85%;
}
.themify_builder_admin small {
	color: #bbb;
}
.themify_builder_admin small a {
	color: #bbb;
	text-decoration: underline;
}

/* layout icon */
.themify_builder_admin .layout_icon {
	margin: 0;
}
.themify_builder_admin .layout_icon a,
.themify_builder_admin .layout_icon a:hover {
	text-decoration: none;
}
.themify_builder_admin .layout_icon img {
	border: solid 3px #eee;
	margin: 0 3px 5px 0;
	background: #fff;
	
	border-radius: 5px;
}
.themify_builder_admin .layout_icon a:hover img {
	border-color: #ddd;
}
.themify_builder_admin .layout_icon .selected img,
.themify_builder_admin .layout_icon a.selected:hover img {
	border-color: #88b2e4;
}

/* themify_builder_disable_target */
.themify_builder_disable_target.on {
	opacity: .5;
}

/* thumb preview */
.themify_builder_admin .thumb_preview {
	position: absolute;
	top: -5px;
	right: 0;
}
.themify_builder_admin .thumb_preview img {
	padding: 2px;
	background: #fff;
	border: solid 1px #eee;
	border-radius: 3px;
}
.themify_builder_admin .thumb_preview .themify_builder_icon.delete {
	position: absolute;
	top: -3px;
	left: 38px;
}

.tf-upload-btn{
	display: inline-block;
	zoom:1;
	*display:inline;
}

.themify_builder_field .builderColorSelectInput {
	height: auto !important;
}

.themify_builder_admin .pad-right {
	margin-right: 7px;
	display: inline-block;
	vertical-align: middle;
}

/************************************************************************************
WP ADMIN STYLES
*************************************************************************************/
.themify_builder_admin a.builder_button.insert-media {
	background: #fff;
	padding: 4px 10px !important;
	border: solid 1px #ccc;
	text-decoration: none;
	font-size: 12px;
	line-height: 23px;
	height: auto;
	margin: 0;
	cursor: pointer;
	border-radius: 3px;
	white-space: nowrap;
	text-shadow: none;
	display: inline-block;
	zoom:1;
	*display:inline;
}
.themify_builder_admin .wp-editor-tools a {
	color: inherit !important;
}

/* WP media lightbox */
.frontend .media-frame input[type="text"], 
.frontend .media-frame input[type="password"], 
.frontend .media-frame input[type="number"], 
.frontend .media-frame input[type="search"], 
.frontend .media-frame input[type="email"], 
.frontend .media-frame input[type="url"], 
.frontend .media-frame textarea {
	background: #fff;
	border: solid 1px #dfdfdf;
	color: #999;
	max-width: 100%;
}
.frontend .media-frame input[type="text"]:focus, 
.frontend .media-frame input[type="password"]:focus, 
.frontend .media-frame input[type="number"]:focus, 
.frontend .media-frame input[type="search"]:focus, 
.frontend .media-frame input[type="email"]:focus, 
.frontend .media-frame input[type="url"]:focus, 
.frontend .media-frame textarea:focus {
	background: #fff;
	border: solid 1px #dfdfdf;
	color: #333;
}

/* wp editor */
.wp-editor-container {
	background: #fff;
}

/************************************************************************************
OVERLAY
*************************************************************************************/
#themify_builder_overlay {
	background: #333;
	background: rgba(0,0,0,.7);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 99;
}
.frontend #themify_builder_overlay {
	z-index: 20000;
}

.themify_builder_module_front_overlay {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(255,248,153, .6);
	z-index: 10;
}

/************************************************************************************
LOADER
*************************************************************************************/
#themify_builder_loader {
	background: #333 url(../img/builder/loader.gif) no-repeat center center;
	background-color: rgba(0,0,0,.7);
	width: 60px;
	height: 60px;
	position: fixed;
	left: 50%;
	top: 50%;
	z-index: 4000;
	margin: -30px 0 0 -30px;
	border-radius: 10px;
}

/* alert message  
---------------------------------------------------------------*/
.themify-builder-alert {
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -40px 0 0 -40px;
	height: 80px;
	width: 80px;
	background-color: #444;
	background-color: rgba(0,0,0,.8);
	background-position: center center;
	background-repeat: no-repeat;
	z-index: 99999;
	border-radius: 15px;
}
.themify-builder-alert.busy {
	background-image: url(../img/ajax-loader.gif);
}
.themify-builder-alert.done {
	background-image: url(../img/ajax-done.png);
}
.themify-builder-alert.error {
	background-image: url(../img/ajax-error.png);
}

/************************************************************************************
CLEAR & ALIGNMENT
*************************************************************************************/
.themify_builder_admin .clear {
	clear: both;
}
.themify_builder_admin .left {
	float: left;
}
.themify_builder_admin .right {
	float: right;
}
.themify_builder_admin .textleft {
	text-align: left;
}
.themify_builder_admin .textright {
	text-align: right;
}
.themify_builder_admin .textcenter {
	text-align: center;
}

/* clearfix */
.themify_builder_admin .clearfix:after, .themify_builder_field:after, .themify_builder_row_content:after, .themify_builder_front:after, .themify_builder_row:after, .themify_builder_front .module:after
{ visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.themify_builder_admin .clearfix, .themify_builder_field, .themify_builder_row_content
{ display: inline-block; }
/* clearfix for ie7 */
.themify_builder_admin .clearfix, .themify_builder_field, .themify_builder_row_content
{ display: block; zoom: 1; }

/************************************************************************************
UI STATE
*************************************************************************************/
.themify_builder_ui_state_highlight {
 	border-style: dashed;
 	border-width: 1px;
 	margin: 0 auto 20px;
}
.frontend .themify_builder_ui_state_highlight {
	background: rgba(255,248,153, .6);
 	border-style: dashed;
 	border-width: 1px;
 	margin: 0 auto 20px;
}
#themify_builder_row_wrapper, .themify_builder_module_opt_builder_wrap {
	position: relative;
}
.themify_builder .row_menu {
	width: 5%;
}
.themify_builder .col-full {
	width: 100%;
}
.ui-resizable-helper{
	border: 1px dotted #333;
}
.themify_builder_row_content {
	position: relative;
}
.themify_module_settings, 
.themify-hide-js {
	display: none !important;
}

/************************************************************************************
MODULE FRONT
*************************************************************************************/
.themify_builder_module_front {
	position: relative;
	min-height: 40px;
	border: solid 1px #ddd;
	border-top-color: #eee;
	border-bottom-color: #bbb;
	margin-bottom: 15px;
	cursor: move;
}
.themify_builder_module_front:hover {
	border-color: #aaa;
}

.tap .themify_builder_dropdown_front, .tap .themify_builder_module_front_overlay {
	display: block !important; /* show module edit/duplicate/delete buttons */
}

/* module edit/duplicate/delete buttons */
.themify_builder_dropdown_front {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 5px;
	left: 5px;
	display: none; /* toggle on .themify_builder_module_front:hover */
	z-index: 50;
}
.themify_builder_dropdown_front li {
	margin: 0 5px 5px 0;
	padding: 0;
	float: left;
}
.themify_builder_dropdown_front li a {
	background-image: url(../img/builder/builder-icons.png);
	background-color: #333;
	background-color: rgba(0,0,0,.6);
	background-repeat: no-repeat;
	display: block;
	width: 28px;
	height: 28px;
	text-indent: -900em;
	border: solid 1px #000;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.4), inset 0 0 2px rgba(255,255,255,.5);
	border-radius: 5px;
}
.themify_builder_dropdown_front li a:hover {
	background-color: #000;
}
.themify_builder_dropdown_front li .themify_module_options {
	background-position: -19px -264px;
}
.themify_builder_dropdown_front li .themify_module_duplicate {
	background-position: -19px -214px;
}
.themify_builder_dropdown_front li .themify_module_delete {
	background-position: -19px -239px;
}

.builder_save_front_panel {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	position: absolute;
	top: 15px;
	right: 15px;
	width: 75px;
}
.builder_save_front_panel .themify-builder-front-save {
	padding: 4px 20px;
	background-color: #bfbfbf;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background-image: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background-image: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	background-image: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);

	border: solid 1px #9d9d9d;
	text-align: center;
	border-radius: 6px;
	box-shadow: inset 0 0 3px rgba(255,255,255, .3);
	text-shadow: 1px 1px 1px rgba(255,255,255, .7);
	color: #666;
	display: inline-block;
	margin-bottom: 10px;
}
.builder_save_front_panel .themify-builder-front-save:hover {
	background-color: #eee;
	color: #555;
	box-shadow: inset 0 0 4px rgba(255,255,255, 1);
}
.builder_save_front_panel .themify-builder-front-close {
	color: #B1B2B6;
	display: block;
}
.builder_save_front_panel .themify-builder-front-close:hover {
	color: #fff;
}
.builder_save_front_panel a {
	text-decoration: none;
}
.themify_builder_options_tab {
	margin:0;
	list-style-type: none;
}
.themify_builder_options_tab li {
	float:left;
	margin-bottom: 0;
}
.themify_builder_options_tab li.current {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid #fff;
}
.themify_builder_options_tab li a {
	display: block;
	padding:0.625em 1.25em;
	color:#333333;
	font-size: 1.45em;
	text-decoration: none;
}
.themify_builder_options_tab li a:hover {
	color: #000;
	text-decoration: none !important;
}
.themify_builder_options_tab li.current a {
	color:#000000;
}
.themify_builder_options_tab_content {
	border-top:1px solid rgba(0, 0, 0, 0.1);
	padding: 20px 0;
	margin-top: -1px;
}
.themify_builder.builder-lightbox .reset-module-styling {
	color:#666666;
}
.reset-module-styling .themify_builder_icon {
	background-image: none;
}
.themify-builder-import-file-inner h3, .themify-builder-import-file-inner p {
	text-align: center;
}
.themify-builder-import-file-inner .tf-upload-btn {
	text-align: center;
	width: 100%;
}
.themify-builder-import-file-inner .builder_button {
	font-size: 14px;
    height: 46px;
    line-height: 44px;
    padding: 0 36px;
    background: none repeat scroll 0 0 #F7F7F7;
    color: #555555;
    vertical-align: top;
    display: inline-block;

     -moz-box-sizing: border-box;
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
    
    border:1px solid #CCCCCC;
    cursor: pointer;
    margin: 0;
    text-decoration: none;
    white-space: nowrap;
}

/************************************************************************************
MODULE FRONT RESPONSIVE
*************************************************************************************/
@media screen and (max-width: 600px) {
	/* column */
	.frontend .themify_builder .col_dragger {
		display: none !important;
	}
	.frontend .themify_module_holder {
		margin-right: 0;
		margin-bottom: 20px;
		min-height: 0 !important;
	}
	
	/* module */
	.frontend .themify_builder_module {
		width: 70px !important; /* prevent conflict from theme styling */
	}
}